body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 350;
	color: #333;
}

.intro-header {
	padding-top: 65px;
	padding-bottom: 15px;
	color: #f8f8f8;
	background: url(../img/background_blue.jpg) no-repeat center center;
	background-size: cover;
	text-align: center;
	vertical-align: middle;
}

#head-container > div {
    display: inline-block;
    margin: 12px;
}
#head-container {
    text-align: center;
    margin: 0px auto;
    width: 80%;
}

.avatar {
    width:225px;
    height:225px;
    margin: 10px;
    border:10px solid #27639F;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.content-section-a {
	background-color: #f8f8f8;
	padding: 50px 0;
}

.content-section-b {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 50px 0;
}

.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 18px 0 0;
}